.main {
    background-color: #FB9AD1;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content:center;
}
.overview {
    font-weight: 800;
    text-align: left;
    padding-left: 15px;
}
.box {
    border: 1px solid #86469C;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    max-width: 400px;
    text-align: center;
    background-color: #86469C;
    position: relative;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
    .box:hover {
        transform: translateY(-5px);
        transform: scale(1.1);
    }
.movie_title {
    font-size: 1.2em;
    font-weight: bold;
}

.description {
    margin-top: 10px;
    margin-left:15px;
    text-align: justify;
}

.images {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}



